# Настройки базы данных
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name
DB_HOST=postgres
DB_PORT=5432

# Настройки приложения
APP_HOST=0.0.0.0
APP_PORT=4200

# Настройки JWT
JWT_ACCESS_SECRET=change_me_super_secret_access_key
JWT_REFRESH_SECRET=change_me_super_secret_refresh_key
JWT_ACCESS_EXPIRATION=15
JWT_REFRESH_EXPIRATION=10080

# Настройки OAuth Yandex
YANDEX_CLIENT_ID=your_yandex_client_id
YANDEX_CLIENT_SECRET=your_yandex_client_secret
YANDEX_CALLBACK_URL=http://localhost:4200/auth/oauth/yandex/callback